---
layout: default
title: News
---

<!--
<section id="news">
  <h2>Recent News</h2>
  {% for item in site.data.news %}
  <article class="news-item">
    <h3>{{ item.title }}</h3>
    <p class="date">{{ tem.date | date: "%B %d, %Y" }}</p>
    <p>{{ item.description }}</p>
  </article>
  {% endfor %}
</section>
-->
<section id="news">
  <h2>Recent News</h2>
  <ul class="news-list">
    {% for item in site.data.news %}
    <li class="news-item">
      <time datetime="{{ item.date }}">{{ item.date | date: "%b %Y" }}</time>
      <p class="news-text">{{ item.news }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
