<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/pub_style.css' | relative_url }}">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
        <li><a href="{{ '/lab/' | relative_url }}" {% if page.url == "/lab/" %}class="active"{% endif %}>Lab</a></li>
        <li><a href="{{ '/publications/' | relative_url }}" {% if page.url == "/publications/" %}class="active"{% endif %}>Publications</a></li>
        <li><a href="{{ '/news/' | relative_url }}" {% if page.url == "/news/" %}class="active"{% endif %}>News</a></li>
        <li><a href="{{ '/teaching/' | relative_url }}" {% if page.url == "/teaching/" %}class="active"{% endif %}>Teaching</a></li>
				<li><a href="{{ '/about/' | relative_url }}" {% if page.url == "/about/" %}class="active"{% endif %}>About</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>
